<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      <%= currentDir === '/' ? 'Lista de arquivos' : currentDir.split('/').pop()
      %>
    </title>
    <!-- Teste condicional para o título -->
    <link rel="stylesheet" type="text/css" href="css/list_files.css" />
  </head>
  <body>
    <h3><%= currentDir %></h3>
    <div id="file-manager" class="files-container">
      <% items.forEach(item => { %> <% if (item.isDirectory) { %>
      <a href="<%= item.url %>" class="file-card">
        <div class="file-card">
          <span class="file-icon">📁</span>
          <p><%= item.name %></p>
        </div>
      </a>
      <% } else { const ext = item.name.split('.').pop(); %> <% if (['mp4',
      'mkv', 'avi'].includes(ext)) { %>
      <a
        href="video-player?path=<%= encodeURIComponent('/downloads' + currentDir + '/' + item.name) %>"
        target="_blank"
      >
        <div class="file-card">
          <span class="file-icon">🎥</span>
          <p><%= item.name %></p>
        </div>
      </a>

      <% } else if (['vtt'].includes(ext)) { %> <% } else { %>
      <a
        href="<%= encodeURIComponent('/downloads' + currentDir + '/' + item.name) %>"
        target="_blank"
      >
        <div class="file-card">
          <span class="file-icon">📄</span>
          <p><%= item.name %></p>
        </div>
      </a>
      <% } %> <% } %> <% }) %>
    </div>
  </body>
</html>
